


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    
    
  }

  body {
    
    background-image: url('pattern_website_2.png'), url('giphy.gif');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, fixed;
    background-position: center, center;
    
      
    
  }


  h1 {
    color: white;
    text-align: center;
    display: table; /* keep the background color wrapped tight */
    margin: 15px auto 0px auto; /* keep the table centered */
    padding:5px;font-size:40px;background-color:black;color:#ffffff;
  }
  h2 {
    color: white;
    text-align: center;
    display: block;
    padding:5px;font-size:30px;background-color:black;color:#ffffff;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    

  }
  p {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 30px auto 0px auto;
    padding:4px;font-size:20px;background-color:black;color:#ffffff;
    width: 500px;
  } 
  ul {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 30px auto 0px auto;
    padding:4px;font-size:10px;background-color:black;color:#ffffff;
    width: 20%;
    margin: auto;
    
}
